.DS_Store
Thumbs.db
public/js/node_modules
local/*
node_modules
node_modules/*
.vagrant
.idea
test/*
public/sample-upnext
public/sample-upnext/*
public/standin*
license.lic

public/feedUrl.log
public/trace.log
public/tracejs.log
public/apc_clear.php

#public/js/build/compiled/aetn.appletv.*.*.local.js
#public/js/build/compiled/aetn.appletv.*.*.qwrap171212.js
#public/js/build/compiled/aetn.appletv.*.*.qwrap171213.js
